<div class="login">
    <div class="section1">
        <div class="titulo1">Bienvenido</div>
    </div>
    <div class="section2">
        <div class="logo"><img src="" alt=""></div>
        <div class="form">
            <form action="">
              <p>Correo </p>
              <div class="inputText">
                <input class="input" type="email">
              </div>
              <p>Contraseña</p>
              <div class="pass inputText">
                <input id="pass" class="input active" type="password">
                <div class="icons">
                  <img class="oculto iconPass" src="" alt="">
                  <img class="visible iconPass" src="" alt="">            
                </div>
            </div>
              <div class="record">
                <input class="" type="checkbox" name="" id="">
                <label for="">Recordar cuenta </label>
              </div>
              <button  class="button" routerLink="/dashboard">Iniciar sesion</button>
              <div class="labels">
                <p class="bot">¿Olvidaste tu usuario?</p>
                <p class="bot">¿Olvidaste tu contraseña?</p>
              </div>
            </form>
          </div>
    </div>
</div>